<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>App TEST Inicio Sesion</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
     <link rel="icon" type="image/jpg" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4WLh19aKm7fk1ngDum2Wvw8miD8TI0laYyaaqXQqSmg&s">
  </head>
  <body>

    <h1>Users Page Test</h1>

    <main>
      {% block body %}
      {% endblock %}
    </main>

<aside>
  {% block content %}
  {% endblock %}
</aside>

<head>
  {% block contenido %}
  {% endblock %}
</head>

<header>
  {% block container %}
  {% endblock %}
</header>

<section>
  {% block cm %}
  {% endblock %}
</section>

  </body>
</html>
